/* General styles for the article page */
.article-main {
    background-color: #fff;
    padding: 1em;
    font-family: Arial, sans-serif;
}

/* Styles for the article hero section */
.article-hero {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 10em;
}
.article-hero img{
    width: 100%;
    max-width: 800px; /* Increase the max width */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.article-page-title {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.article-author {
    font-size: 1em;
    color: grey;
    margin-bottom: 20px;
}

.article-page-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for the article content section */
.article-page-content {
    margin: 0 10em 2em 10em;
    line-height: 1.6;
}

.article-page-content p {
    margin-bottom: 20px;
}

/* Styles for the featured articles section */
.featured-articles {
    margin-top: 40px;
}

.featured-articles h3 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    padding: 1em;
}

